* {
	padding: 0;
	margin: 0;
}

#top-bar {
	width: 100%;
	#search {
		width: 100%;
		margin: 10px auto;
		height: auto;
		text-align: center;
		#search-bar {
			width: 50%;
			height: 30px;
			padding: 20px 20px;
			font-size: 20px;
			border-radius: 15px;
			box-sizing: border-box;
			outline: none;
			border: 1px solid black;
		}
	}
}

// ToDO: Add Support for masonry Layout
#images-container {
	padding: 20px 50px;
	grid-template-columns: repeat(5, 1fr);
	grid-gap:10px;
	grid-template-rows: masonry;
	text-align: center;
	.image-card {
		display: inline-block;
		margin: 0 10px 10 0;
		background-color: red;
		width: 220px;
		height: 300px;
	}

}
